<h2 class="table-heading">Edit Merchant</h2>

<button><a href="/merchants">Back</a></button>
<form id="merchant-edit-form" class="form" method="post" action="/merchant/<%= @merchant.id %>">

    <div class="form-element">
        <label for="name-field">Name:</label>
        <input
        type="text"
        name="name"
        id="name-field"
        value="<%= @merchant.name %>"
        required
        />
    </div>

    <div class="form-element">
        <label for="active-status">Status:</label>
        <select name="active" id="status-select">
            <option value=1 <%= "selected" if @merchant.active == 1 %>>Active</option>
            <option value=0 <%= "selected" if @merchant.active == 0 %>>Inactive</option>
        </select>
    </div>
    
    <input type="submit" value="Save Changes">

</form>