<h1>Merchants</h1>

<button><a href="/merchants/new">Create Merchant</a></button>


<div>
    <button><a href="/merchants/all">View Deactivated</a></button>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <% @merchants.each do |merchant|%>
        <tr>
            <td <% if merchant.active == 0%> class='deactived'<% end %>><%=merchant.name%></td>
            <td><button><a href="/merchants/<%= merchant.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>
</div>