<h2>Create Merchant</h2>

<button><a href="/merchants">Back</a></button>
<form method="post" action="/merchants">

    <div class="form-element">
        <label for="name-field">Name:</label>
        <input
        type="text"
        name="name"
        id="name-field"
        required
        />
        <i class="required">*</i>

        <label hidden for="active-status"></label>
        <input hidden
        type="number"
        name="active"
        id="active-status"
        value=<%=1%>
        />
        
        <input type="submit" value="Save">

</form>