<h1 id='Welcome text'>Hey <%=@user['first_name']%>, what do you want to do today?</h1>

    <nav id="Home page">
        <a href='/expenses/add'>Add Expense</a>
        <a href='/expenses'>View Expenses</a>
    </nav>
