<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset ='utf-8'>
            <title>Xpences</title>
        </head>
        <body id="top">
            <header>
                <img/>
                <div id="global nav">
                    <button>Menu</button>
                        <a href='/'>Home</a>
                        <a href='/add-expense'>Add Expense</a>
                        <a href='/expenses'>Expenses</a>
                    <button>Settings</button>
                        <a href='/user-settings'>User Settings</a>
                        <a href='/merchants'>Merchants</a>
                        <a href='/tags'>Tags</a>
                </div>
            </header>
                <%= yield %>
        </body>
    </html>