<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset ='utf-8'>
            <title>Xpences</title>
        </head>
        <body id="top">
            <%= yield %>
        </body>
    </html>