<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset ='utf-8'>
            <title>Xpences</title>
            <link rel="stylesheet" href="/style.css">
        </head>
        <body id="top">
            <header>
                <a href="/"><img id="logo" src="/Screenshot 2020-06-09 at 11.35.47.png" alt="Xpences logo"></a>
                <div class=dropdown>
                    <img id="menu-icon" class="icon" src="/hamburger-menu-icon-clipart-3.png" alt="Menu" width="45" height="45">
                    <div class=dropdown-content>
                        <a href='/'>Home</a>
                        <hr>
                        <a href='/expenses/add'>Add Expense</a>
                        <hr>
                        <a href='/expenses'>Expenses</a>
                    </div>
                </div>
                <div class=dropdown>
                    <img id="settings-icon" class="icon" src="/207-2074312_png-file-settings-logo-png-white.png" alt="Settings" width="33" height="33">
                    <div class=dropdown-content>
                        <a href='/merchants'>Merchants</a>
                        <hr>
                        <a href='/tags'>Tags</a>
                        <hr>
                        <a href='/user/settings'>User Settings</a>
                    </div>
                </div>
            </header>
                <%= yield %>
        </body>
    </html>