<h2>Create Merchant</h2>

<form method="post" action="/merchants">

    <div class='form-element'>
        <label for='name-field'>Name:</label>
        <input
        type='text'
        name='name'
        id='name-field'
        />
        
        <input type="submit" value="Save">

</form>