html {
    background: url("110291-achievement_bar_business_chart_coin_coins_diagram.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 3%;
}

header {
    padding-right: 3%;
}

#logo {
    float: center;
    width: 30%;
    height: auto;
}

#menu-icon {
    padding-right: 20%;
}

#settings-icon {
    padding-top: 5px;
    padding-right: 5px;
}

.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: monospace;
    text-align: center;
    font-size: 150%;
    color: black;
    display: none;
    position: absolute;
    background-color: rgb(255,255,255,0.7);

}

a {
    color: inherit;
}

p {
    font-family: monospace;
}

#user-page {
    font-size: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

small {
    position: fixed;
    bottom: 0px;
}

#home-page {
    padding-top: 3%;
    padding-inline-start: 3%;
    width: 70%;
    height: 30%;
    font-size: 150%;
    font-family: monospace;
    text-align: center;
}

#view-button {
    float: right;
    width: 30%;
    padding-right: 12%;
}

#add-button {
    float: left;
    width: 30%;
    padding-left: 15%;
}

.table-heading {
    font-family: monospace;
    text-decoration: underline rgb(0,194,203);
    font-size: 400%;
    background-color: rgb(255,255,255,0.7);
    width: fit-content;
}

.spent-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    padding-top: 30px;
}

.filter {
    padding-top: 30px;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    cursor: pointer;
    width: 90%;
}

select#category {
    box-sizing: border-box;
    width: 12%;
    height: 50%;
}

table {
    width: 70%;
    padding-top: 20px;
    background-color: rgb(255,255,255,0.7);
    font-family: monospace;
    text-align: center;
}

.column-headings {
    font-size: 180%;
    text-decoration: underline black;
    padding-bottom: 20px;
}

.table-rows {
    font-size: 150%;
}

button {
    color: white;
    background-color: rgb(0,194,203);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    border-color: black;
    text-decoration: none;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.bigger-button {
    font-size: 25px;
}

.deactivated {
    color: white;
    background-color: rgb(255, 87, 86);
    font-size: 12px;

}

#create-merchant-button {
    background-color: rgb(101, 221, 31);
}

button:hover {
    background-color: black;
}

#create-merchant-button:hover {
    background-color: black;
}

#merchant-padding {
    padding-top: 25px;
}

#merchant-section {
    width: 40%;
    padding-top: 20px;
}

#merchant-table {
    padding-top: 20px;
    width: 100%;
    text-align: left;
}

#merchant-new-form {
    padding-top: 60px;
}

input[type=submit] {
    color: white;
    background-color: rgb(255, 87, 86);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    border-color: black;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: black;
}


input[type=radio] {
    display: none;
}

.form-element {
    padding-bottom: 10px;
}

#category_heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 50px;
    color: black;
    text-align: top;
}

#merchant-edit-form {
    padding-top: 30px;
}

input[type=radio] + label[class=colourbox] {
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 5px;
}

input[type=radio]:checked + label[class=colourbox] {
    border-color:black;
    border-style: solid;
    border-radius: 25px;
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 5px;
}

label[class=colourbox] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 15px;
    color: white;
    text-align: center;
}

.required {
    color: red;
}

