<h1 class="table-heading">Tags</h1>

<button id="create-tag-button" class="bigger-button"><a href="/tags/new">Create Tag</a></button>

<div>
    <table id="tags-table">
        <tr class="column-headings">
            <th>Category</th>
        </tr>
        <% @tags.each do |tag|%>
        <tr class="table-rows" <% if tag.active == 0%> class ='deactivated'<% end %>>
            <td style="background-color: <%=tag.colour%>; border-radius: 10px; color: white"><%=tag.category%></td>
            <td><button><a href="/tags/<%= tag.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>
    <button class="deactivated"><a href="/tags/all">View Deactivated</a></button>
</div>