<h1>Tags</h1>

<button><a href="/tags/new">Create Tag</a></button>

<div>
    <button><a href="/tags/all">View Deactivated</a></button>
    <table>
        <tr>
            <th>Category</th>
            <th>Colour</th>
        </tr>
        <% @tags.each do |tag|%>
        <tr <% if tag.active == 0%> class ='deactivated'<% end %>>
            <td><%=tag.category%></td>
            <td style="background-color: <%=tag.colour%>; border-radius: 10px; "></td>
            <td><button><a href="/tags/<%= tag.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>
</div>