<h2 class="table-heading">Create Tag</h2>


<button><a href="/tags">Back</a></button>
<form class="form" method="post" action="/tags">

    <div class="form-element">
        <label for="category-field">Category:</label>
        <input
        type="text"
        name="category"
        id="category-field"
        required
        />
        <i class="required">*</i>

        <label for="colour-field">Colour:</label>
        <input
        type="color"
        name="colour"
        id="colour-field"
        required
        />
        <i class="required">*</i>

        <label hidden for="active-status"></label>
        <input hidden
        type="number"
        name="active"
        id="active-status"
        value=<%=1%>
        />
        
        <input type="submit" value="Save">

</form>